<form action="login" method="post">
    <input name="email" placeholder="email">
    <input name="password" placeholder="password">
    <button type="submit">Login</button>
</form>
<!-- <script>
function myFunction(){
    headers: { 'X-Auth-Token': token }
}
//     request: {
//     headers: { 'X-Auth-Token': 'fa8426a0-8eaf-4d22-8e13-7c1b16a9370c' }
//   }
</script> -->