<form name="" action="register" method="POST">
    <input name="name" placeholder="name">
    <input name="email" placeholder="email">
    <input name="password" placeholder="password">
    <button type="submit">Submit</button>
</form>